@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Montserrat:wght@700&family=Rubik:wght@300&display=swap');

*{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
    margin: 0;
    background-color: #222222;
    font-family: 'Montserrat', sans-serif;
}

/*********************************************************** NAV ***********************************************************/

.default-nav{
    background-color: #222222;
    position: sticky;
    z-index: 100;
    top: 0;
    padding: 10px;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.default-nav h1{
    color: #03bcc0;
    margin: 0;
    display: inline-block;
}

.default-nav ul {
    list-style: none;
    display: inline-flex;
    justify-content: end;

}

.dropdown{
  width: 77%;
  align-items: center;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

.dropdown li{
  transition: 0.5s;
  color: white;
  font-size: 20px;
}

.dropdown li a {
    color: white;
    text-decoration:none;
    padding: 15px 12px;
    display:block;
    transition: 0.5s;
}

.dropdown li:hover, .dropdown li a:hover {
    color: #03bcc0;
}

.dropdown-li {
    list-style: none;
    position: relative;
    padding: 1.5rem 1rem;
    cursor: pointer;
}

.dropdown-li:hover ul {
    opacity: 1;
    visibility: visible;
}

.dropdown-ul {
    position: absolute;
    top: 4rem;
    left: -1rem;
    background-color: #222222;
    border-radius: 0.2rem;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out;
}

.dropdown-ul li {
    list-style: none;
    border-radius: 0.2rem;
    transition: background-color 200ms ease-in-out;
}

.dropdown-ul li:hover {
  background-color: #03bcc0;
}

.dropdown-ul li a:hover{
  color: #222222;
}

nav h1 a{
    text-decoration: none;
    color: #03bcc0;
}

.active a{
    color: #03bcc0 !important;
}

.active li{
    color: #03bcc0 !important;
}
/*********************************************************** /NAV ***********************************************************/

/*********************************************************** HEADER ***********************************************************/

header{
    background-image: url(images/header/header.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;     /* CUANDO SE MUEVA LA IMAGEN, PONER CONTAIN EN SIZE EN LOS MEDIA*/
    width: 100%;
    height: 92vh;
    opacity: 0.6;
}

.header_content h3{
    position: absolute;
    z-index: 1;
    top: 22vw;
    left: 10%;
    font-size: 4vw;
    color: white;
    text-align: left;
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 5px black;
}

/*********************************************************** /HEADER ***********************************************************/

/*********************************************************** INDEX CONTENT ***********************************************************/

h5{
    margin: 0;
    color: white;
    text-align: center;
    font-size: 3vw;
    padding-top: 100px;
}

table{
    width: 60%;
    margin: 100px auto;
    text-align: center;
}

td{
    padding: 0 20px;
}

td img{
    width: 5vw;
}

td h6{
    color: white;
    font-size: 1.8vw;
    margin: 40px 0;
    transition: 0.3s;
    display: inline-table;
    text-shadow: 0px 0px 0px #03bcc0;
}

td h6:hover{
    text-shadow: 10px 10px 12px #03bcc0;
}

td p{
    margin: 0;
    color: white;
    font-size: 1vw;
}

/*********************************************************** /INDEX CONTENT ***********************************************************/

/*********************************************************** ANIMAL PAGE ***********************************************************/

section{
    width: 100%;
    background-color: rgb(44, 44, 44);
    height: 776px;
}

.section_index{
    border-top: 1px solid rgb(200, 200, 200);
    height: 630px;
}

/*********************************************************** IMAGES COLLAGE ***********************************************************/

.section_left{
    margin-top: 100px;
    width: 40%;
    display: inline-block;
    margin-left: 15%;
}

.section_left img{
    width: 15vw;
    height: 15vw;
    background-color: white;
    padding: 5px 10px 60px;
    position: relative;
    display: inline-block;
}

.img1{
    transform: rotate(20deg);
    z-index: 1;
    transition: 0.5s;
}

.img1:hover{
    transform: none;
    width: 50%;
    height: 50%;
    z-index: 99;
}

.img2{
    transform: rotate(-10deg);
    z-index: 2;
    right: 50px;
    bottom: 20px;
    transition: 0.5s;
}

.img2:hover{
    transform: none;
    width: 50%;
    height: 50%;
    z-index: 99;
}

.img3{
    transform: rotate(20deg);
    z-index: 4;
    bottom: 150px;
    left: 300px;
    transition: 0.5s;
}

.img3:hover{
    transform: none;
    width: 50%;
    height: 50%;
    z-index: 99;
}

.img4{
    transform: rotate(-10deg);
    z-index: 3;
    bottom: 130px;
    right: 300px;
    transition: 0.5s;
}

.img4:hover{
    transform: none;
    width: 50%;
    height: 50%;
    z-index: 99;
}

/*********************************************************** /IMAGES COLLAGE ***********************************************************/

/*********************************************************** ANIMAL LOREM ***********************************************************/

.section_right{
    width: 30%;
    float: right;
    margin-top: 50px;
    margin-right: 15%;
}

.section_right h4{
    font-family: 'knewave';
    color: #03bcc0;
    font-size: 5vw;
    letter-spacing: 6px;
    margin: 0;
    text-align: right;
}


.section_right p{
    color: white;
    width: 80%;
    text-align: justify;
    float: right;
    letter-spacing: 2px;
    line-height: 30px;
    border-top: 2px solid #03bcc0;
    padding-top: 30px;
}

/*********************************************************** /ANIMAL LOREM ***********************************************************/

/*********************************************************** /ANIMAL PAGE ***********************************************************/

/*********************************************************** CONTACT US ***********************************************************/

.section_contact{
    display: flex;
}

form{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form fieldset{
    padding: 60px 30px;
    border: none;
    border: 1px solid #03bcc0;
}

form h4{
    color: white;
    font-size: 20px;
    margin: 0;
}

form p{
    border-bottom: 1px solid #03bcc0;
    margin-bottom: 40px;
    padding-bottom: 40px;
    color: white;
}

form label{
    color: white;
    width: 44%;
    display: inline-block;
}

form input{
    width: 50%;
    height: 30px;
    margin: 0.5rem;
    font-family: 'Montserrat';
}

form label span{
    color: red;
}

.validar{
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 15px;
    width: 100px;
    height: 40px;
    margin: 20px 0.5rem 0 0;
    float: right;
    background-color: white;
    transition: 0.5s;
    border: 2px solid black;
}

.validar:hover{
    background-color: #03bcc0;
    border: 2px solid white;
    color: white;
}

/*********************************************************** FOOTER ***********************************************************/

footer{
    border-top: 1px solid rgb(200, 200, 200);
}

footer p{
    margin: 0;
    text-align: center;
    padding: 20px 0;
    color: white;
}

footer a{
    display: none;
}
/*********************************************************** /FOOTER ***********************************************************/









/*********************************************************** MEDIAS ***********************************************************/

/*********************************************************** TABLET ***********************************************************/
@media screen and (max-width: 1400px) {

    nav a:active{
    color: #03bcc0;
    }

    .img3{
    bottom: 150px;
    left: 200px;
    }

    .img4{
    bottom: 130px;
    right: 230px;
    }

    header{
    height: 90vh;
    }
}


@media screen and (min-width:980px) and (max-width:1250px){
    header{
        background-size: contain;
        height: 69vh;
      }

    .section_index{
        height: 667px;
    }
}
/*********************************************************** TABLET ***********************************************************/

@media screen and (min-width:889px) and (max-width:980px){

    .img2{
        right: 20px;
    }
    .img3{
        bottom: 100px;
        left: 140px;
    }
    .img4{
        bottom: 80px;
        right: 170px;
    }
    
}

@media screen and (min-width:390px) and (max-width:889px){
    .section_left{
        display: none;
    }
    .section_right{
        width: 100%;
        float: none;
        margin: 0;
        padding-top: 50px;

    }
    .section_right h4{
        text-align: center;
        font-size: 7vw;
    }
    .section_right p{
        width: 100%;
    }
}

/*********************************************************** MÓVIL ***********************************************************/
@media screen and (max-width:390px){

    /* HEADER */
    .mobile-hide{
        display: none;
    }
    header{
        background-image: url(images/header/header-mobile.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: auto;     /* CUANDO SE MUEVA LA IMAGEN, PONER CONTAIN EN SIZE EN LOS MEDIA*/
        width: 100%;
        height: 86vh;
        opacity: 0.6;
    }

    .header_content h3{
        position: absolute;
        z-index: 1;
        left: 14%;
        font-size: 7vw;
        color: white;
        text-align: center;
        letter-spacing: 3px;
        font-family: 'Montserrat', sans-serif;
        text-shadow: 2px 5px black;
        margin-top: 212px;
    }

    .section_index{
        height: 706px;
    }

    .section_index h5{
        font-size: 7vw;
    }

    .section_index td img{
        width: 12vw;
    }

    .section_index td h6{
        font-size: 3.7vw;
    }

    .section_index td p{
        font-size: 2.6vw;
    }

    /* /HEADER */

    /* ANIMAL PAGE */

    .section-animal{
        height: 620px;
    }

    /* FOOTER */

    footer{
        padding-top: 16px;
    }

    footer a{
        display: inline;
        color: white;
        text-decoration: none;
        margin-left: 38%;
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
        font-weight: bold;
        transition: 0.5s;
    }

    footer a:hover{
        color: #03bcc0;
    }
    /* /FOOTER */
}
/*********************************************************** /MÓVIL ***********************************************************/
/*********************************************************** /MEDIAS ***********************************************************/
